* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Epilogue", sans-serif;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: hsl(0, 0%, 98%);
}
body header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px;
}
body .dropdown-menu--container {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 35% 65%;
}
body .dropdown-menu--container .menu-container {
  grid-column: 2/3;
  background-color: hsl(0, 0%, 98%);
  padding: 25px;
}
body .dropdown-menu--container .menu-container .close-icon {
  display: flex;
  justify-content: flex-end;
}
body .dropdown-menu--container .menu-container ul {
  margin-top: 30px;
  font-size: 1.6rem;
  color: hsl(0, 0%, 41%);
}
body .dropdown-menu--container .menu-container ul li {
  margin-bottom: 25px;
}
body .dropdown-menu--container .menu-container ul #features.active {
  background-image: url("../images/icon-arrow-down.svg");
}
body .dropdown-menu--container .menu-container ul #features {
  background-image: url("../images/icon-arrow-up.svg");
  background-size: auto;
  background-position: 90px 5px;
  background-repeat: no-repeat;
}
body .dropdown-menu--container .menu-container ul #features ul {
  margin-bottom: 40px;
}
body .dropdown-menu--container .menu-container ul #features ul li {
  display: flex;
  align-items: center;
}
body .dropdown-menu--container .menu-container ul #features ul li img {
  width: 20px;
  margin-left: 20px;
  margin-right: 15px;
}
body .dropdown-menu--container .menu-container ul #company.active {
  background-image: url("../images/icon-arrow-down.svg");
}
body .dropdown-menu--container .menu-container ul #company {
  background-image: url("../images/icon-arrow-up.svg");
  background-size: auto;
  background-position: 90px 5px;
  background-repeat: no-repeat;
}
body .dropdown-menu--container .menu-container ul #company ul {
  margin-bottom: 40px;
  margin-left: 20px;
}
body .dropdown-menu--container .menu-container .sign-up--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .dropdown-menu--container .menu-container .sign-up--container a {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.4rem;
  color: hsl(0, 0%, 41%);
}
body .dropdown-menu--container .menu-container .sign-up--container button {
  width: 100%;
  height: 40px;
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-size: 1.4rem;
}
body .main-image--container {
  width: 100%;
  height: 300px;
  background-image: url("../images/image-hero-mobile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .main-info--container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px 0 20px;
}
body .main-info--container h1 {
  font-size: 3.5rem;
  color: hsl(0, 0%, 8%);
  margin-bottom: 25px;
}
body .main-info--container p {
  font-size: 1.6rem;
  color: hsl(0, 0%, 41%);
  line-height: 25px;
  margin-bottom: 25px;
}
body .main-info--container button {
  width: 150px;
  height: 45px;
  align-self: center;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 50px;
}
body .main-info--container .partners-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
body .main-info--container .partners-container img:nth-child(1) {
  width: 70px;
  height: 12px;
}
body .main-info--container .partners-container img:nth-child(2) {
  width: 65px;
  height: 30px;
}
body .main-info--container .partners-container img:nth-child(3) {
  width: 65px;
  height: 15px;
}
body .main-info--container .partners-container img:nth-child(4) {
  width: 65px;
  height: 20px;
}
body .inactive {
  display: none;
}/*# sourceMappingURL=styles.css.map */